<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="resources/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="resources/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="resources/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="resources/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="resources/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="resources/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Cambridge Commuters</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{% if page == 'my' %} class="active"{% endif %}><a href="/">My Schedule</a></li>
              <li{% if page == 'group' %} class="active"{% endif %}><a href="group">Group Schedule</a></li>
              <li{% if page == 'prices' %} class="active"{% endif %}><a href="prices">Ticket Prices</a></li>
              <li{% if page == 'stats' %} class="active"{% endif %}><a href="stats">Stats</a></li>
              <li{% if page == 'settings' %} class="active"{% endif %}><a href="settings">Settings</a></li>
            </ul>
            <p class="navbar-text pull-right">Welcome {{ nickname }} <a href="{{ logout_url }}">sign out</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    {% if page == 'my' %}
      <p>I'll have my schedule.</p>
    {% endif %}

    {% if page == 'group' %}
      <h1>Imported Users</h1>
      <table class="table">
      {% for user in users %}
        <tr>
          <td>{{ user.nickname }}</td>
          <td>{{ user.user_id }}</td>
        </tr>
      {% endfor %}
      </table>

      <h1>Imported Prices</h1>
      <table class="table">
      {% for price in prices %}
        <tr>
          <td>{{ price.since }}</td>
          <td>{{ price.prices }}</td>
        </tr>
      {% endfor %}
      </table>

      <h1>Imported Days</h1>
      <table class="table">
      {% for day in days %}
        <tr>
          <td>
          {{ day.date }}
          </td>
          <td>
          {{ day.price }}
          </td>
          <td>
          {{ day.users }}
          </td>
          <td>
          {{ day.guests }}
          </td>
          <td>
          {{ day.buyer }}
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}

    {% if page == 'prices' %}
      <table class="table">
      {% for prices_row in prices %}
        <tr>
          <td>Since {{ prices_row.since }}</td>
        {% for price in prices_row.prices %}
          <td>
          {{ price }}
          </td>
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
    {% endif %}

    {% if page == 'stats' %}
      <p>We'll have some nice stats but for now we'll do without them.</p>
      {% endif %}

      {% if page == 'settings' %}
      <p>We'll have some user settings.</p>
    {% endif %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="resources/js/jquery.js"></script>
    <script src="resources/js/bootstrap-transition.js"></script>
    <script src="resources/js/bootstrap-alert.js"></script>
    <script src="resources/js/bootstrap-modal.js"></script>
    <script src="resources/js/bootstrap-dropdown.js"></script>
    <script src="resources/js/bootstrap-scrollspy.js"></script>
    <script src="resources/js/bootstrap-tab.js"></script>
    <script src="resources/js/bootstrap-tooltip.js"></script>
    <script src="resources/js/bootstrap-popover.js"></script>
    <script src="resources/js/bootstrap-button.js"></script>
    <script src="resources/js/bootstrap-collapse.js"></script>
    <script src="resources/js/bootstrap-carousel.js"></script>
    <script src="resources/js/bootstrap-typeahead.js"></script>

  </body>
</html>
